<div class="container-home">


  <div class="blog-header">
    <h1 class="blog-title"><%= @blog.title %></h1>
    <p class="lead blog-description">Author: <%= @blog.author %></p>
  </div>



  <div class="row">

    <div class="col-sm-8 blog-main">

    <% @comments.each do |comment| %>

    <% if comment.blog_id == @blog.id %>
    <p><b><%= comment.commenter %>:</b>
      <%= comment.content %></p>

      <% end %>
      <% end %>

      <%= link_to new_blog_comment_path do %>
      <span class="glyphicon glyphicon-comment"></span> Comment
      <% end %>

    </div>

    <%= render 'layouts/sidebar' %>

  </div>
</div>
