<%= form_for :conversation, url: :conversations do |f| %>

    <%= f.hidden_field :recipients, :value => params[:account] %>
    <div class="form-group">
    <%= f.label 'Subject', class: "heading" %><br>
    <%= f.text_field :subject, class: "form-control" %>
      </div>
    <div class="form-group">
    <%= f.label 'Body', class: "heading" %><br>
  <%= f.text_field :body, as: :text, class: "form-control" %>
    </div>
  <div class="form-actions">
    <%= f.submit "Send", class: 'btn btn-success btn-lg' %>
  </div>

<% end %>
