<%= simple_form_for :conversation, url: :conversations do |f| %>

    <%= f.hidden_field :recipients, :value => params[:account] %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text %>
  <div class="form-actions">
    <%= f.submit "Send", class: 'btn btn-success btn-lg' %>
    <%= f.button :submit, 'Cancel', type: :reset, class: 'btn-danger' %>
  </div>
<% end %>
