<%= form_for(@bid) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 
  <%= "display post id here " %>
  <% @posts.each do |post| %>
            <% if post.id == @bid.post_id %>
            <td> <%= post.title%></td>
               <% end %>
                 <% end %>



  <div class="field">
    <%= f.label :bid %><br>
    <%= f.number_field :bid %>
  </div>
 <h4><%= current_user.credit.debit if current_user.credit %> Credits Max</h4>

  <div class="field">
    <%= f.label :bidinfo, "Enter information on your Bid" %><br>
    <%= f.text_field :bidinfo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
