<%= form_for [@post, @bid] do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <% $bid_user_id = @post.user_id %>
  <% $bid_AR = User.find($bid_user_id) %>
  <%= $bid_AR.email %>

<% if @post.user != current_user %>
               

  <div class="field">
    <%= f.label :bid, "How many credits would you do this for?" %>
    <%= f.number_field :bid, class: "form-control" %>
  </div>
 

  <div class="field">
    <%= f.label :bidinfo, "What do you bring to the table for this project specifically?"  %><br>
    <%= f.text_field :bidinfo, class: "form-control" %>
  </div>

<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :bididsend, :value => :bid_id %>
<%= f.hidden_field :bid_user_email, :value => $bid_AR.email %>


  
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
 
  <% end %>
<% end %>


