

<h3>Bids</h3>
  
  <% if @post.user %>
      <%= link_to image_tag(@post.user.image), @post %>
    <% end %>
  <h1><%= @post.title %> </h1>
   
<br>
            
  
   <table class="table table-striped">
    <thead>
      <tr>
        <th><strong>Choose Wisely!</strong></th>
        <th><strong>Bids</strong></th>
        <th><strong>User</strong></th>   
        <th><strong>Additional Info</strong></th>   
      </tr>
    </thead>

 <% @bids.each do |bid| %>
    <tbody>
      <tr>
         <% @users.each do |user| %>
  <% if user.id == bid.user_id %>
  <% $BidUserId = bid.user_id%>
<%  $BidUserName = user.name %>
  <% end %>
          <% end %>

      <% @accounts.each do |account| %>
 <% if account.user_id =$BidUserId %>
  <% $account_company = account.company %>
  <% end %>
  <% end %>



        <td><%= link_to new_job_path(:post_id => @post.id,:post_title => @post.title, :post_description => @post.description, :bid_amount => bid.bid, :bid_user => 
        $BidUserName, :account_company =>$account_company ) do %>
          <span class="glyphicon glyphicon-plus"></span> Review
            <% end %></td>
        <td><%= bid.bid %></td>
            <% @users.each do |user| %>
            <% if user.id == bid.user_id %>
        <td> <%= user.name%></td>
                <% end %>
                <% end %>
        <td><%= bid.bidinfo %></td>
      </tr>
    </tbody>
      <% end %>
  </table>

<% if false %> 

        <%= link_to 'Show', post_bid_path(post) %>
        <%= link_to 'Edit', edit_bid_path(bid) %>
        <%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>


<br> 


<%= link_to 'New Bid', new_post_bid_path %>
