<h3>Bids</h3>
  
  <% if @post.user %>
      <%= link_to image_tag(@post.user.image), @post %>
    <% end %>
  <h1><%= @post.title %> </h1>
   
<br>
            
  
   <table class="table table-striped">
    <thead>
      <tr>
        <% if @post.user == current_user %>
        <th><strong>Choose Wisely!</strong></th>
        <% end %>
        <th><strong>Bids</strong></th>
        <th><strong>User</strong></th>   
        <th><strong>Additional Info</strong></th>   
      </tr>
    </thead>

 <% @bids.each do |bid| %>
    <tbody>
      <tr>
         <% @users.each do |user| %>
  <% if user.id == bid.user_id %>
  <% $BidUserId = bid.user_id%>
<%  $BidUserName = user.name %>
<% $bid_id_send = bid.id %>
  <% end %>
          <% end %>

      <% @accounts.each do |account| %>
 <% if account.user_id =$BidUserId %>
  <% $account_company = account.company %>
  <% end %>
  <% end %>


    <% if @post.user == current_user %>
        <td><%= link_to new_job_path(

          :post_id => @post.id,
          :post_title => @post.title, 
          :post_description => @post.description, 
          :bid_amount => bid.bid,  
          :bid_user => $BidUserName, 
          :BidUserId => $BidUserId, 
          :account_company => $account_company,
          :bid_id => $bid_id_send

        ) do %>
          <span class="glyphicon glyphicon-plus"></span> Review
            <% end %></td>
            <% end %>
        <td><%= bid.bid %></td>
            <% @users.each do |user| %>
            <% if user.id == bid.user_id %>
        <td> <%= user.name%></td>
                <% end %>
                <% end %>
        <td><%= bid.bidinfo %></td>

  
        
<% if bid.user_id == current_user.id %>
        <td> <%= link_to 'Edit', edit_post_bid_path(@post, bid) %> </td>
          <td>

        <% end %>

      </tr>
    </tbody>
      <% end %>
  </table>



<br> 


<%= link_to 'New Bid', new_post_bid_path %>
<br>
<%= link_to 'Jobs', posts_path %>