<div class="container-home">
<h3>Offers</h3>
  
  <% if @post.user %>
      <%= link_to image_tag(@post.user.image), @post %>
    <% end %>
  <h1><%= @post.title %> </h1>
  <p><%= @post.description %></p>
   
<br>
            
  
   <table class="table table-striped">
    <thead>
      <tr>
        <% if @post.user == current_user %>
        <th><strong>Choose Wisely!</strong></th>
        <% end %>
        <th><strong>Offer</strong></th>
        <th><strong>Collaborator</strong></th>   
        <th><strong>Why Me?</strong></th>
      </tr>
    </thead>

 <% @bids.reverse_each do |bid| %>
    <tbody>
      <tr>
         <% @users.each do |user| %>
   <% if user.id == bid.user_id %>
    <% $BidUserId = bid.user_id%>
    <%  $BidUserName = user.name %>
    <% $bid_id_send = bid.id %>
    <% end %>
          <% end %>

      <% @accounts.each do |account| %>
 <% if account.user_id =$BidUserId %>
  <% $account_company = account.company %>
  <% end %>
  <% end %>


    <% if @post.user == current_user %>
        <td><%= link_to new_job_path(

          :post_id => @post.id,
          :post_title => @post.title, 
          :post_description => @post.description, 
          :bid_amount => bid.bid,  
          :bid_user => $BidUserName, 
          :BidUserId => $BidUserId, 
          :account_company => $account_company,
          :bid_id => $bid_id_send

        ), class: "btn btn-default btn-lg" do %>
          <span class="glyphicon glyphicon-plus"></span> Check It Out
            <% end %></td>
            <% end %>
        <td><%= bid.bid %>
          <% if bid.bid != 1 %> Favors</td>
          <% else %> Favor
              <% end %>
            <% @users.each do |user| %>
            <% if user.id == bid.user_id %>
        <td> <%= user.name%></td>
                <% end %>
                <% end %>
        <td><%= bid.bidinfo %></td>

  
        
<% if bid.user_id == current_user.id %>
        <td> <%= link_to 'Edit', edit_post_bid_path(@post, bid), class: "btn btn-default btn-lg" %>
          <%= link_to 'Delete', post_bid_path(@post, bid), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg" %>
        </td>
          <td>

        <% end %>

      </tr>
    </tbody>
      <% end %>
  </table>



<br> 


<%= link_to 'Offer to Help', new_post_bid_path, class: "btn btn-primary btn-lg" %>

<%= link_to 'Browse', posts_path, class: "btn btn-default btn-lg" %>
    </div>