<p id="notice"><%= notice %></p>

<p>
  <strong>Bid Amount:</strong>
  <%= @bid.bid %>
</p>

<p>
  <strong>Bidinfo:</strong>
  <%= @bid.bidinfo %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
