<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% $BUID = params[:BidUserId] %>

  <h1>
    <strong> Job Title:</strong>
    <%= params[:post_title]%>
  </h1>
  <p>
  <strong>post description</strong>
    <%= params[:post_description]%>
  </p>
  
<p>
    <strong>bid users name</strong>
    <%= params[:bid_user]%>
  </p>
  <p>
<strong>bid users company</strong>
    <%= params[:account_company]%>
  </p>
<p>
<strong>bid amount</strong>
    <%= params[:bid_amount]%>
  </p>


<%= f.hidden_field :job, :value => :post_id %>
<%= f.hidden_field :CurrentUserBalance, :value => current_user.balance %>
<%= f.hidden_field  :user_id , :value => current_user.id %> 
<%= f.hidden_field :bid_user_id, :value => $BUID %>
<%= f.hidden_field :bid_amount, :value => params[:bid_amount] %>
<%= f.hidden_field  :id , :value => params[:bid_id] %>
<%= f.hidden_field :post_id, :value => params[:post_id] %>

<%= f.hidden_field :title, :value => params[:post_title] %>

<%= f.hidden_field :description, :value => params[:post_description] %>

  <div class="actions">
  <%= f.submit "Accept Bid", :job => :post_id, data: { confirm: "Are You Sure?" } %>
  </div>
<% end %>
