<%= debug(params) %>

<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <h1>
    <strong>Title</strong>
    <%= params[:post_title]%>
  </h1>
  <p>
  <strong>post description</strong>
    <%= params[:post_description]%>
  </p>
  
<p>
    <strong>bid users name</strong>
    <%= params[:bid_user]%>
  </p>
  <p>
<strong>bid users company</strong>
    <%= params[:account_company]%>
  </p>
<p>
<strong>bid amount</strong>
    <%= params[:bid_amount]%>
  </p>


  <div class="actions">
  <%= f.submit "Accept Bid", data: { confirm: "Are You Sure?" } %>
  </div>
<% end %>
