<h1>Your projects</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <% if job.user == current_user %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= link_to 'Show', job, class: "btn btn-default btn-lg" %>
        <%= link_to 'Edit', edit_job_path(job), class: "btn btn-default btn-lg" %>
        <%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-lg" %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
