<p id="notice"><%= notice %></p>

<p>
  <strong>Debit:</strong>
  <%= @credit.debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @credit.credit %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
