<%= form_for(@account) do |f| %>
    <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% @account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>





    <div class="form-group">
      <h3 class="align-center">66666666What skill set would you be excited to receive feedback on? </h3>


      <%= f.label :skill_set, class: "heading" %><br>
      <%= f.select :skill_set, [['Programming','Programming'],['Marketing','Marketing'],['Design','Design'],['Business development','Business development']] %>
      <%= f.submit 'finish', class: "btn btn-primary btn-lg" %>
    </div>

<% end %>
