<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>





    <div class="form-group">
        <%= f.label "Enter the first name of 5 people who have the same kind of skills that you have.", class: "heading" %><br>
        <%= f.text_area :same_skill_names %>
    </div>
    <div class="form-group">
      <%= f.label "Enter the first name of 5 people who don’t have the same skill that you do but that you’ve worked with.", class: "heading" %><br>
      <%= f.text_area :different_skill_names %>
    </div>
      <div class="form-group">
      <%= f.label "Enter the first name of 5 people that you have provided a service for professionally.", class: "heading" %><br>
      <%= f.text_area :service_professionally_names %>
      </div>
    <div class="form-group">
      <%= f.label "Enter the first name of 5 people that you have provided a service for not professionally.", class: "heading" %><br>
      <%= f.text_area :service_not_professionally_names %>
      </div>
    <div class="form-group">
    <%= f.label "Enter the first name of 5 people that you view as a mentor.", class: "heading" %><br>
      <%= f.text_area :mentor_names %>
    </div>
      <%= f.submit 'next', class: "btn btn-primary btn-lg" %>

<% end %>
