<div class="container-home">

         <div id="posts" class="transitions-enabled">
    <% @posts.each do |post| %>

      <div class="box panel panel-default">

        <div class="panel-body">
          <h2 class="post-title"><%= link_to post.title, post_bids_path(post) %></h2><br>
          <p><b><%= post.category %></b></p><br>
          <div class="col-md-6">
          <% if post.user %>
                <% if post.user.image %>
                <p><%= link_to image_tag(post.user.image, class: "circle"), account_path(post.user_id) %></p>
                <% else %>
                <p><%= image_tag('userdefaultimagesm.png', class: "circle") %></p>
                <% end %>
          <% end %>
          </div>
          <p><strong><%= post.user.name if post.user %></strong></p>

          <p><%= post.description %></p><br>

      <% if post.user == current_user %>
        <div class="actions">
          <%= link_to edit_post_path(post), class: "btn btn-default btn-lg" do %>
          <span class="glyphicon glyphicon-pencil"></span> Edit
          <% end %>


          </div>
      <% elsif current_user %>
        <%= link_to new_post_bid_path(post), class: "btn btn-primary btn-lg" do %>
          <span class="glyphicon glyphicon-retweet"></span> Offer to Help
          <% end %>
        <% end %>
          <%= link_to post_bids_path(post), class: "btn btn-default btn-lg" do %>
          <span class="glyphicon glyphicon-expand"></span> Closer Look
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
