<%= render 'pages/home' unless user_signed_in? %>  

  <div id="posts" class="transitions-enabled">
    
    <% @posts.each do |post| %>
      <div class="box panel panel-default">
        
        <div class="panel-body">
          <div class="col-md-6">

          <% if post.user %>
            <p><%= link_to image_tag(post.user.image), post %></p>
            <% end %>
          </div>
          <h2><%= post.title %></h2><br>
          <p><%= post.description %></p><br>
          <p><b><%= post.category %></b></p><br>
          <P><strong><%= post.user.name if post.user %></strong></P>
      <% if post.user == current_user %>
        <div class="actions">
          <%= link_to edit_post_path(post) do %>
            <span class="glyphicon glyphicon-edit"></span>
            Edit
            <% end %>
          <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            Delete
            <% end %>
          </div>
      <% else %>
        <%= link_to("Bid on Post", new_post_bid_path(post)) %>
      <% end %>
      <%= link_to 'Show Bids', post_bids_path(post) %>


        </div>
      </div>
    <% end %>
  </div>

  
   <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 