<div class="container-home">
  <h1 class="heading">My Reviews</h1>

  <table class="table table-striped">
    <thead class="heading">
    <tr>
      <th>Face of Reviewee</th>
      <th>Job Title</th>
      <th>Description</th>
      <th>Score</th>
      <th>Who's Job is it?</th>
    </tr>
    </thead>

    <tbody>

    <% @reviews.each do |review| %>

        <% if review.reviewee_id == current_user.id %>
            <tr>
              <td><%= image_tag @account.find(review.reviewer_id).user.image, class: "circle" %></td>
              <td><%= @job.find(review.job_id).title %></td>
              <td><%= @job.find(review.job_id).description %></td>
              <td><%= review.score %></td>
              <td><%= @user.find(review.reviewee_id).name %></td>
            </tr>
           <% end %>
    <% end %>
    my average score
   <%= Review.where(reviewee_id: current_user.id).pluck(:score).sum / Review.where(reviewee_id: current_user.id).pluck(:score).count %>


    </tbody>
  </table>
</div>
