<% if @account.user == current_user %>
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "What's Your Company Called?" %><br>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "What does it do?" %><br>
    <%= f.text_field :bio, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :primarySkill %><br>
    <%= f.select :primarySkill, [['Programming','Programming'],['Marketing','Marketing'],['Design','Design'],['Biz Dev','Biz Dev']] %>
  </div>

  <div class="form-group">
    <%= f.label :secondarySkill %><br>
    <%= f.select :secondarySkill, [['Programming','Programming'],['Marketing','Marketing'],['Design','Design'],['Biz Dev','Biz Dev']] %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<% else %>
<h3>You can't edit other peoples stuff!<br> Otherwise no one can have nice things. . .</h3>
<% end %>