<script type="text/javascript">
    mixpanel.track("User Created");
</script>


<% if @account.user == current_user %>
<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "What's Your Start-Up Called?", class: "heading" %><br>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "In One Sentence, What does it do?", class: "heading" %><br>
    <%= f.text_field :bio, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label "What's Your Primary Skill?", class: "heading" %><br>
    <%= f.select :primarySkill, [['Developer','Programming'],['Marketer','Marketing'],['Designer','Design'],['User Experience','User Experience'],['Biz Dev','Biz Dev']] %>
  </div>

  <div class="form-group">
    <%= f.label "Things I'm good at:", class: "heading" %><br>
    <%= f.text_field :secondarySkill, class: "form-control" %>
  </div>


  <div class="actions">
    <%= f.submit 'Complete Profile', class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<% else %>
<h3>You can't edit other peoples stuff!<br> Otherwise no one can have nice things. . .</h3>
<% end %>