<div class="container-home">

  <h1 class="heading">Top Collaborators</h1>
        <div id="accounts" class="transitions-enabled">
        <% @accounts.each do |account| %>
             <div class="box panel panel-default">
               <div class="panel-body">

        <%= account.user.name %>
                 <div class="col-md-6">
        <% if account.user.image %>
            <p><%= image_tag account.user.image, class: "circle" %></p>
        <% else %>
            <p><%= image_tag('userdefaultimagesm.png', class: "circle") %></p>
        <% end %>
          </div>
        <p><%= account.primarySkill %></p>
            <% if account.user.jobs_completed %>
        <p><%= account.user.jobs_completed %></p>
            <% else %>
            <p>I haven't done any favors yet!</p>
                <% end %>
        <p><%= account.user.balance %></p>
     <% if account.user.jobs_completed %>
        <% if account.user.jobs_completed >= 2 %>
            <p><%= account.user.average_score %></p>
        <% else %>
            <p>I'm Still New!</p>
        <% end %>
    <% else %>
         <p>I'm Still New!</p>
     <% end %>

        <% if account.user==current_user %>
        <p><%= link_to "Update Profile", edit_account_path(account), class: "btn btn-primary btn-lg" %>
        <% else %>
        <p><%= link_to 'View Profile', account, class: "btn btn-default btn-lg" %></p>
        <p><%= link_to 'Message Me', new_conversation_path(account), class: "btn btn-success btn-lg" %></p>

        <% end %>
        </p>
               </div>
    <% end %>


    </div>
</div>
  <%= will_paginate @accounts, renderer: BootstrapPagination::Rails %>
</div>

