<div class="container-home">
<h1 class="heading">Top Collaborators</h1>
	<table class="table table-striped">
    <thead class="heading">
      <tr>
      	<th><strong>Mug Shot</strong></th>
        <th><strong>Primary Superpower</strong></th>
        <th><strong>Favors done</strong></th>
        <th><strong># of Favors I have</strong></th>
        <th><strong>Average Score</strong></th>
      </tr>
    </thead>
    <tbody>
		  <tr>
		  	<% @accounts.each do |account| %>
			<% if account.user.image %>
            <td><%= image_tag account.user.image %></td>
		    <% else %>
            <td><%= image_tag('userdefaultimagesm.png') %></td>
            <% end %>
            <td><%= account.primarySkill %></td>
                <% if account.user.jobs_completed %>
            <td><%= account.user.jobs_completed %></td>
                <% else %>
                <td>I haven't done any favors yet!</td>
                    <% end %>
		    <td><%= account.user.balance %></td>
         <% if account.user.jobs_completed %>
            <% if account.user.jobs_completed >= 2 %>
                <td><%= account.user.average_score %></td>
            <% else %>
                <td>I'm Still New!</td>
            <% end %>
        <% else %>
             <td>I'm Still New!</td>
         <% end %>

		    <% if account.user==current_user %>
		    <td><%= link_to "Update Profile", edit_account_path(account), class: "btn btn-primary btn-lg" %>
		    <% else %>
		    <td><%= link_to 'View Profile', account, class: "btn btn-default btn-lg" %></td> 
		    <% end %>
			</td>
	    </tr>
  </tbody>
<% end %>
</table>
  </div>