
	<h1>Collaborators</h1>


	<table class="table table-striped">
    <thead>
      <tr>
      	<th><strong>Mug Shot</strong></th>
        <th><strong>Company</strong></th>
        <th><strong>What it Does</strong></th>
        <th><strong>Your Primary Superpower</strong></th>   
        <th><strong>2ndairy Superpower</strong></th>   
      </tr>
    </thead>
    <tbody>
		  <tr>
		  	<% @accounts.each do |account| %>
				<td><%= image_tag account.user.image %></td>
		    <td><%= account.company %></td>
		    <td><%= account.bio %></td>
		    <td><%= account.primarySkill %></td>
		    <td><%= account.secondarySkill %></td>

		    <% if account.user==current_user %>
		    <td><%= link_to "Update Profile", edit_account_path(account), class: "btn btn-default btn-lg" %>
		    <% else %>
		    <td><%= link_to 'View Profile', account, class: "btn btn-default btn-lg" %></td> 
		    <% end %>
				 </td>
	    </tr>
  </tbody>
<% end %>
</table>