<div class="container-home">

  <%= link_to 'Back', accounts_path %>

  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">

        <div class="panel-heading center">

          <div class="panel-body">

            <p id="notice"><%= notice %></p>

            <h3 class="align-left">
                  <% if @user.image %>
                      <%= image_tag(@user.image, class: "circle") %>
                  <% else %>
                      <%= image_tag('userdefaultimagesm.png', class: "circle") %>
                  <% end %>
              <%= @user.name %></h3>
            <h3 class="inline">
              <%=  @account.primarySkill %>
            </h3>
                <% if @account.primarySkill && @account.secondarySkill %>
            <h3 class="inline"> & </h3>
                <% end %>
            <h3 class="inline">
              <%= @account.secondarySkill %></h3>
            <h2><%= @account.company %></h2>
            <p>
              <%= @account.bio %>
            </p>

            </div>

            <% if @account.user==current_user %>
              <% if @user.account_completed == false %>
                <%= link_to 'Update Profile', edit_account_path(@account), class: "btn btn-primary btn-lg" %><br>
                  <%= link_to 'Browse Jobs', posts_path, class: "btn btn-default btn-lg" %>
                <% else %>
                  <%= link_to 'Browse Jobs', posts_path, class: "btn btn-primary btn-lg" %><br>
                  <%= link_to 'Update Profile', edit_account_path(@account), class: "btn btn-default btn-lg" %>

              <% end %>
             <% end %>


            </div>

        </div>
      </div>
    </div>
  </div>



