<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h3><%= image_tag(@user.image) %>
  	<%= @user.name %></h3></br>
    <h2 class="align-center"><%= @account.company %></h2>
  
  <div class="container-account">
    <h3 class="col-lg-6"> 
      <%=  @account.primarySkill %> 
    </h3>
    <h3 class="col-lg-6">
    <%= @account.secondarySkill %></h3>
  </div>
  
  <p>
  	<%= @account.bio %>
	</p>



  <div class="btn-group btn-group-justified">
    <div class="btn-group">
      <%= button_to('Edit', edit_account_path(@account), :class => "btn btn-default") %>
    </div>
    <div class="btn-group">
      <%= button_to('Back', accounts_path(:id => current_user.id), :class => "btn btn-default") %>
    </div>
  </div>
</div>


